@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>¿Que Vendemos?</h1>
    <p class="lead">Silk Road es una tienda virtual pensada para consumidores de alto nivel que no quieran tomar riesgos mercando con el dealer local. Ofrecemos seguridad, velocidad y los mejores precios.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Empezar a Comprar &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Estimulantes</h2>
        <p>
            Excitan la actividad psíquica y del sistema nervioso central y adicionalmente incrementan el ritmo  de otros órganos y sistemas orgánicos.
        </p>
        <p class="btn btn-default">@Html.ActionLink("Ver Mas >>", "Galeria", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Alucinogenos</h2>
        <p>Capaz de alterar y distorsionar la percepción sensorial del individuo, interferir su estado de conciencia y sus facultades cognitivas, pueden generar alucinaciones.​</p>
        <p class="btn btn-default">@Html.ActionLink("Ver Mas >>", "Galeria", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>NPS</h2>
        <p>
            Nuevas sustancias psicoactivas se definen como “sustancias de abuso, ya sea en forma pura o en preparado, no son controladas por la Convención Única de 1961 sobre Estupefacientes ni por el Convenio sobre Sustancias Sicotrópicas de 1971”.
            .
        </p>
        <p class="btn btn-default">@Html.ActionLink("Ver Mas >>", "Galeria", "Home")</p>
    </div>
</div>